---
layout: default
---
<div id="about">
    <div id="imageHolder"></div>
    <div id="content">
        <div id="profilePic">
            <img src="/assets/pic/profilePic.JPG">
        </div>
        <div id="text">
            <h2>Fredrik Andresson</h2>
            <span>Student</span>
            <p>
                    Hej jag heter Fredrik Andersson är 19 år gammal, 
                    studerar UDM på linneuniversitet och är uppväxt i 
                    Ludvika som ligger i dalarna. Anledningen att jag 
                    valde denna linje var att min programmering lärare 
                    rekommenderade den och att linjen var relativt ny. 
                    Mina fritidsaktiviteter består av att programmera 
                    och att spela datorspel men på sistone har den 
                    blivit mer och mer programmering. Om jag skulle
                     beskriva mig själv så skulle jag säga att jag är 
                     öppen till nya idéer någorlunda nyfiken och allmänt
                     förvirrad.
            </p>
        </div>
    </div>
</div>
