---
layout: default
---
<div id="about">
    <div id="imageHolder"></div>
    <div id="content">
        <div id="profilePic">
            <img src="/assets/pic/profilePic.JPG">
        </div>
        <div id="text">
            <h2>Fredrik Andresson</h2>
            <span>Student</span>
            <p>
                    adwam dkmwöa m,sm ölmöwmda aksnmk mwpam ksm pkam  sdjawlnm 
                    wdmksmd njwn öksmdöawkmd ,msöakdmköw msmakm dkwa asdn wdmksmda sdm
                    dkwma ösd,mwaösmdwlam sdmwöma s-,mdwalsmdwka -msakmdöwm a 
                    dmwkamdsöadmlwamsd-wmdslanmd wpam sdmwöa mskal ndökms amdösa
                    adwam dkmwöa m,sm ölmöwmda aksnmk mwpam ksm pkam  sdjawlnm 
                wdmksmd njwn öksmdöawkmd ,msöakdmköw msmakm dkwa asdn wdmksmda sdm
                dkwma ösd,mwaösmdwlam sdmwöma s-,mdwalsmdwka -msakmdöwm a 
                dmwkamdsöadmlwamsd-wmdslanmd wpam sdmwöa mskal ndökms amdösa
                adwam dkmwöa m,sm ölmöwmda aksnmk mwpam ksm pkam  sdjawlnm 
                wdmksmd njwn öksmdöawkmd ,msöakdmköw msmakm dkwa asdn wdmksmda sdm
                dkwma ösd,mwaösmdwlam sdmwöma s-,mdwalsmdwka -msakmdöwm a 
                dmwkamdsöadmlwamsd-wmdslanmd wpam sdmwöa mskal ndökms amdösa 

            </p>
        </div>
    </div>
        hellos there
</div>
